.excell-table .excell-active {
	box-shadow: 1px 1px 0 #ccc inset, -1px -1px 0 #ccc inset;
}
.excell-table .excell-editing {
	padding: 0;
}
.excell-table .excell-input {
	border: 1px solid #ccc;
	box-sizing: border-box;
}
